MONGODB_URI=coloque-aqui-a-url-de-conexao-com-o-mongodb
JWT_SECRET=coloque-aqui-uma-chave-secreta-para-o-jwt
PORT=coloque-aqui-a-porta-do-servidor
BASE_URL=coloque-aqui-a-url-do-servidor-da-api-com-a-porta
ADMIN_EMAIL=coloque-aqui-o-email-do-admin
ADMIN_SENHA=coloque-aqui-a-senha-do-admin
ALUNO_EMAIL=coloque-aqui-o-email-do-aluno-semeado
ALUNO_SENHA=coloque-aqui-a-senha-do-aluno-semeado
TEST_STUDENT_SENHA=coloque-aqui-a-senha-do-aluno-criado-no-teste
ADMIN_INVALID_SENHA=coloque-aqui-uma-senha-invalida-para-o-teste
